.face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  background-color: #fff;
  transition: filter 0.05s linear;
}

/* 裏面 */
.back {
  transform: rotateY(180deg);
}

/* ===== ミラーは面だけにかける ===== */
.card.mirror .front {
  transform: scaleX(-1);
}

.card.mirror .back {
  transform: rotateY(180deg) scaleX(-1);
}